<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Multi Function Site </title>
</head>
<body>
    <p style="text-align: center; border: 3px solid blue;"><a href="weather.html"> Check Weather Information </a></p>
    <p style="text-align: center; border: 3px solid blue;"><a href="translator.html"> Translator </a></p>
</body>
<footer style="  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;">
    Developed by <a href="https://sairaj.tabcat.live"> Sairaj Pai</a>
</footer>
</html>
