<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{weatherinfo.city}} Information </title>
</head>
<body>
    <p><b><h1>{{weatherinfo.city }}'s Weather Today </h1> </b></p>
    <p> City : {{ weatherinfo.city }}, {{ weatherinfo.country }}</p>
    <p> Longitude and Latitude : {{ weatherinfo.longitude }}° and {{ weatherinfo.latitude }}°</p>
    <p> Temperature is : {{ weatherinfo.current_temperature }}° Celsius</p>
    <p> What it feels like  : {{ weatherinfo.feels_like}}° Celsius</p>
    <p> Minimum Temperature is : {{ weatherinfo.min_temp }}° Celsius</p>
    <p> Maximum Temperature is : {{ weatherinfo.max_temp }}° Celsius</p>
    <p> Humidity is : {{ weatherinfo.humidity }} %</p>
    <p> Visibility is : {{ weatherinfo.visibility }} km</p>
    <p> Description is : {{ weatherinfo.description}}</p>
    <p> Wind Speed(km/h) is : {{ weatherinfo.wind_speed }} km/hr</p>
    <p> Wind Direction is : {{ weatherinfo.wind_direction }} km/hr</p>

</body>
<footer style="  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;">
    Developed by <a href="https://sairaj.tabcat.live"> Sairaj Pai</a>
</footer>
</html>
