<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Weather Information Live </title>
</head>
<body>
    <h1>Weather Information</h1>
    <form method="post" action="/submit">
        <label for="name">Enter the city name here: </label>
        <input type="text" id="name" name="name" placeholder="eg. Thane"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<footer style="  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;">
    Developed by <a href="https://sairaj.tabcat.live"> Sairaj Pai</a>
</footer>
</html>